{% extends '@SyliusAdmin/layout.html.twig' %}

{% block title %}Translation | Sylius{% endblock %}


{% block stylesheets %}
    {{ parent() }}

    {% include '@YaroslavcheSyliusTranslationPlugin/_stylesheets.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% include '@YaroslavcheSyliusTranslationPlugin/_javascripts.html.twig' %}
{% endblock %}

{% block content %}
    <div id="yaroslavche-sylius-translation-plugin"></div>
{% endblock %}
