<div class="page-wrapper">
    <div class="page-body">
        <div class="container-xl">
            <div locale="{{ sylius_base_locale }}" id="locale"></div>
            <div id="yaroslavche-sylius-translation-plugin"></div>
        </div>
    </div>
</div>
